<p>header works! {{titulo}}</p>
<ul>
  <li *ngFor="let nom of nombres">
    {{nom}}
  </li>
</ul>

<div *ngIf="logeado else noLogeado">
  Bienvenido
</div>

<ng-template #noLogeado>
  Ingresa por favor
</ng-template>

<div *ngFor="let pokemon of pokemones"
      [ngSwitch]="pokemon.name">
    <!-- tiene que ir entre comillas el caso de ngSwitchCase sino va a pensar que es una variable -->
    <p *ngSwitchCase="'bulbasaur'" style="background-color: rgb(0, 255, 149);">{{pokemon.name}}</p>
    <p *ngSwitchCase="'charmander'" style="background-color: rgb(255, 0, 106);">{{pokemon.name}}</p>
    <p *ngSwitchCase="'ivysaur'" style="background-color: rgb(0, 255, 170);">{{pokemon.name}}</p>
</div>
